export(loa_transform)
export(loa_fit)
export(loa_compare)
export(loa_components)
export(loa_band)
export(loa_pairs)
export(simulate_agreement)
S3method(print, loa_fit)
S3method(summary, loa_fit)
S3method(plot, loa_fit)
S3method(print, loa_compare)
S3method(plot, loa_compare)
S3method(print, loa_components)
S3method(print, loa_pairs)
importFrom(stats, sd, qnorm, lm, logLik, residuals, cor.test,
           shapiro.test, rlnorm, rnorm, uniroot, anova, complete.cases,
           fitted, aggregate)
importFrom(utils, combn, head)
importFrom(graphics, plot, points, lines, abline, legend)
